torch>=2
torchaudio>=2
reazonspeech-nemo-asr @ git+ssh://git@github.com/reazon-research/testing-reazonspeech.git#egg=reazonspeech-nemo-asr&subdirectory=pkg/nemo-asr
transformers
pandas
setuptools>=65
nltk
